.container{
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  padding:30px;
  background-color: #f2f2f2;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: #d8d8d8;
  height:50px;
  font-size: 1em;
  font-weight: 400;

   
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}


li a:hover {
  background-color: #555;
  color: white;
}
li{
  float:left;
}

.home{
  padding-top:50px
  
}

h1{
  font-size:2em;
  text-align: center;
  
}

p2{
  font-family:"cursive"
  line-height:1.5;
  font-size:16px;
}

.image{
  margin-right:50px;
  width:200px;
  border-radius: 50%;
}

span{
  font-weight:500;
}